config.env
__pycache__/*
TheDogeBot.db
TheDogeBot.session
TheDogeBot.session-journal
TheDogeBot/__pycache__/*
TheDogeBot/modules/__pycache__/*
TheDogeBot/modules/sql_helper/__pycache__/*
.progress
.vscode/*
bin/*
